
.signup-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.boxi {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 100;
}
h1{
    background-color: royalblue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0char 0char 5px rgb(36, 157, 197);
    text-decoration: underline;
    background-size: cover;
}
h2{
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0char 0char 5px rgb(36, 157, 197);
    text-decoration: underline;
    background-size: cover;
}
.box1{
    top:19px;
    text-align: center;
    width: 210x;
    height: 70px;
    font-size:30px;
    font-weight: bold;
    border: 5px solid black;
    background-size: cover;
    border-radius:6%;
    width:520px;
    height:40px;
    box-align: center;
    box-shadow: 10px 10px 5px rgb(26, 111, 190),
                -10px -10px 5px rgb(7, 150, 160);
    right:19px;
    display:flex;
    gap:10px;
    z-index: 100;
}

.boxi button {
    font-size: 30px;
    border-radius: 7%;
    background-size: cover;
    text-align: right;
    background-color: palegoldenrod;
    border-radius:15%;
}

.box2{
    
     width: 800px;
     justify-content: center;
     padding-left: 19%;
     float:center;

}
.box4{
    float: center;
    padding: 0px,0px,0px,0px;
}
.box4{
    float: center;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left:660px;
    button{
        float:center;
        font-size: 30px;
        border-radius: 9%;
        background-size: cover;
        text-align: center;
        background-color: palegoldenrod;
    }
}
.box6{
    width:1500px;
    height:400px;
}
.moving-image{
    position:absolute;
    animation:moveRight 5s linear infinite;
}
.box3 a:nth-child(1) img { top:600px; left:0; animation-delay:0s;}
.box3 a:nth-child(2) img { top:600px; left:0; animation-delay:1s;}
.box3 a:nth-child(3) img { top:600px; left:0; animation-delay:2s;}
.box3 a:nth-child(4) img { top:600px; left:0; animation-delay:3s;}

@keyframes moveRight{
    0% { left:-199px;
        opacity:0;
          }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    
    100% { left:100vw;
        opacity:0;
         }
}
*{
    background-color: rgb(247, 245, 241);
}

